#wrapper{

min-height:100%;
position:relative;

}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}
/*** Navbar ***/
.logo{
	margin-top: -40px;
	height: 120px;
	width: 120px;
}
.navbar-default{

	margin-top: 30px;
	background-color: #558188;
	background-color: #74AFAD;
	background-color: transparent;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border: none;
	border-radius: 1px; /* future proofing */
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > .navbar-text {

	font-family: 'Lora';
	color: white;
}

.navbar-default .navbar-brand{

	font-family: 'Lora'
}

.navbar-text{

	color: white;
}
/** Text **/

/*p{

	font-family: 'Lora'
}
*/

.jumbotron-text{

	font-family: 'Montserrat';
	font-size: 17px;

}

p{

	font-family: 'Lora';
}

strong{

	font-family: 'Lora'
}

h1{

	font-family: 'Montserrat';
	font-weight: 700;
	
}

h2{

	font-family: 'Montserrat';
	color: #253939;
}
h3{

	font-family: 'Montserrat';
	color: #253939;
}
.monstserrat{

	font-family: 'Montserrat'
}
.jumbotron-h1{

	color: white;
}

.list-title{

	text-align: center;
	font-family: 'Montserrat'
}

.list-group-item{

	font-family: 'Lora';
}

.gray{

	color: gray;
}

/** Main Body / Content **/

.bg1{

	/** background-image: url('../images/stoa.jpg'); **/
	background-color: #29506D;
	height: 400px;
	z-index: -1;
	margin-top: -100px;
	width: 100%;
	background-size: cover;
}

.small-bg{

	background-color: #29506D;
	height: 100px;
	z-index: -1;
	margin-top: -100px;
	width: 100%;
	background-size: cover;
}
.jumbotron{

	text-align: center;
	background: none;
	color: white;
}

.jumbotron-clubs{

	color: white;
	background-color: #74AFAD ;
	margin-top: -200px;
	height: 400px;
}

.movedown-h1{

	margin-top: 200px;
}

.movedown-less-h1{

	margin-top: 100px;
}

.home-page{

	margin-top: -50px;
	padding: 10px;
	
}

.margin-bottom{

	margin-bottom: 20px;
}

.tip{

	-moz-box-shadow:    1px 1px 1px 1px #ccc;
	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
	box-shadow:         1px 1px 1px 1px #ccc;
	padding: 20px;
	background-color: white;
	
}

.tips-box{

	/**background-color: #74AFAD;**/
	background-color: white;
	padding: 15px;
	-moz-box-shadow:    1px 1px 1px 1px #ccc;
	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
	box-shadow:         1px 1px 1px 1px #ccc;
}

.tournaments-box{

	/**background-color: #277453;**/
	-moz-box-shadow:    1px 1px 1px 1px #ccc;
	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
	box-shadow:         1px 1px 1px 1px #ccc;
	padding: 15px;
	background-color: white;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 20px;
}
.main-content{

	/*-moz-box-shadow:    1px 1px 1px 1px #ccc;
	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
	box-shadow:         1px 1px 1px 1px #ccc;
	*/
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	
	border-radius: 5px; /* future proofing */
	border: 1px solid #F8F8F8;
	background-color: white;
	padding-left: 15px;
	padding-right: 15px;
}

.tournament{


	-moz-box-shadow:    1px 1px 1px 1px #ccc;
	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
	box-shadow:         1px 1px 1px 1px #ccc;
	padding: 20px;
	margin-bottom: 20px;
}

.tip{

	-moz-box-shadow:    1px 1px 1px 1px #ccc;
	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
	box-shadow:         1px 1px 1px 1px #ccc;
	padding: 20px;
}

.sidebar{

	border: 1px solid #F8F8F8;
	background-color: white;
	padding: 15px;

}

.inline{

	display: inline;
}
/**Movedown **/

.moveup{

	margin-top: -150px;
}

.movedown{

	margin-top: 50px;
}

/**Buttons**/

.btn-default{

	background-color:#74AFAD;
	color: white;
}

.sidebar-button{

	width: 100%;
}

.footer{

	background-color: #74AFAD;
	padding: 10px;
	color: white;
	font-family: 'Montserrat';
	width:100%;
	margin-top: 20px;
	position:absolute;
	bottom:0;
	left:0;
}